section.card-car-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100vw;
  padding-bottom: 2em;
}

section .card-car-container__title {
  align-self: flex-start;
  padding: 0 0 .8em .7em;
  color: #263238;
}

.card-car-link {
  text-decoration: none;
}

div.card-car-list {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

div.card-car {
  display: flex;
  flex-direction: column;
  width: 93vw;
  max-width: 93vw;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  border-radius: 10px;
}

div.card-image-container {
  width: 100%;
  max-height: 300px;
}

img.image-list {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center center;
  border-radius: 10px 10px 0 0;
}

div.info-container {
  padding-left: 20px;
  padding-bottom: 8px;
  color: #263238;
}

/* ==============================
   ==============================
            BREAKPOINTS
   ============================== 
   ============================== */


/* TABLET PEQUEÑA*/
@media (min-width: 480px) and (max-width: 590px) {

  section .card-car-container__title {
    padding: 0 0 .9em 1.7em;
  }

  div.card-car {
    width: 90vw;
    height: 33vh;
  }

  div.card-image-container {
    height: 30vh;
  }

  div.info-container {
    padding-top: 8px;
  }

}

/* TABLET GRANDE*/
@media (min-width: 591px) {

  section .card-car-container__title {
    padding: 0 0 .9em 1.7em;
  }

  div.card-car {
    width: 90vw;
    height: 33vh;
  }

  div.card-image-container {
    height: 50vh;
  }

  div.info-container {
    padding-top: 8px;
  }

}

/* DESKTOP */
@media only screen and (min-width: 1200px) {

  section .card-car-container__title {
    align-self: flex-start;
    padding: 0 0 .8em 1.8em;
  }

  div.card-car-list {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
  }

  div.card-car {
    width: 40vw;
    height: 33vh;
  }

  div.card-image-container {
    height: 45vh;
  }

}